@charset "UTF-8";

/*geral*/

* { margin: 0px; padding: 0px; font-family: 'Courier New', Courier, monospace;}


html, body { 
    background-color: blue;
    width: 100vw;
    height: 100vh;
    background-size: contain;
    background-repeat: no-repeat;}

